@use "../utils/variables" as*;

$text-styles: (
  "title": (
    font-family: $secondary-font,
    font-size: 80px,
    font-weight: 700,
    line-height: 1.25    
  ),
    
  "btn": (
    font-family: $secondary-font,
    font-size: 18px,
    font-weight: 700,
    line-height: 1.3    
  )
);