$primary-text-color: #fabf59;
$secondary-text-color: #ffffff;
$primary-btn-color: #f9b50c;
$secondary-btn-color: #1d1d1d;
$bg-color: #1d1d1d;

$primary-font: "Inter", sans-serif;
$secondary-font: "Bluu Next Cyrillic", serif;
